@page "/sellerwelcome"
@using NOOS_UI.Models
@using NOOS_UI.Contracts


<h2><strong>Welcome to NOOS!</strong></h2>
<img src="Images/NOOS-logo.jpg" width="250" />
<h3> </h3>


<h3>Please select the plugin suitable for your website.</h3>
<br />
<h5>
    NOOS plugin allowes you to see the product-wise organic damand within your seller dashboard.
</h5>
   <p>  </p>
   <h5> Simply dowload the plugin, install in your website and activate.</h5>



<p>Woocommerce:</p>
<img src="Images/woo-logo.JPG" width="300" />
<p>   </p>
<p>Shopify:</p>
<img src="Images/shopify-logo.JPG" width="200" />
<p>   </p>
<p>Magento:</p>
<img src="Images/magento-logo.JPG" width="200" />
<p>   </p>
<p>Drupal:</p>
<img src="Images/drupal-logo.JPG" width="200" />
<p>   </p>
<p>   </p>


@code {

}
