@page "/noos"
<p>


</p>
<img src="Images/NOOS-logo.jpg" class="align-items-center" width="200" height="250">
<p>

</p>
<h4><strong>Notify me when this product goes on sale!</strong></h4>
<form>
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button href="/products" type="submit" class="btn btn-primary">Submit</button>
    <p>

    </p>
</form>

<p>

</p>


<h4><a href="https://localhost:44372/register" target="_blank"> <strong>SignUp</strong></a> with <strong>NOOS</strong> for one-click price-drop subscriptions</h4>


@code {

}
